<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <title>siw-ipsum</title>
</head>
<body>
    {{{body}}}

    <p>Like it? Tune it! <a href="https://github.com/cainvommars/siw-ipsum">Project on Github</a></p>
  <script src="/js/jquery.min.js"></script>
</body>
</html>